* {
    border: none;
    border-radius: 0;
    font-family: "Fira Sans Book", "Nerd Fonts";
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

#workspaces button {
    padding: 0 2px;
    background: transparent;
    color: white;
}

#workspaces button.active {
    color: #A547AC;
}

#workspaces button:hover {
    text-shadow: inherit;
}

#tags button.occupied {
    color: #A547AC;
} 

#tags button.focused {
    color: #A547AC;
}

#clock,
#pulseaudio
#language,
#cpu,
#memory {
    padding: 0 4px;
}

